---
layout: newsroom
title: Newsroom
permalink: /newsroom/es/
---
{% for post in site.posts %}
    {% if post.lang == "es" %}
    <div class="row">
        <span class="news-badge">Noticias</span>
        <span class="news-badge-date">{{ post.news_date_and_location }}</span>
        <br/>
        <br/>
        <h2 class="section-title news-article-title">
            <a href="{{post.url}}">{{ post.title }}</a>
        </h2>
        <p>
            {{ post.excerpt }}
        </p>
        <p><a href="{{post.url}}">Lea mas...</a></p>
    </div>
    {% endif %}
{% endfor %}