<!-- ******FOOTER****** --> 
    <footer class="footer">
        <div class="container">
            <div class="footer-bottom text-center">
                <ul class="social-media list-inline">
                    <li><a href="https://twitter.com/Mormon_Leaks" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="https://www.facebook.com/Mormon_Leaks" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                </ul>
                <small class="copyright">Copyright &copy; 2016 MormonLeaks&trade; | <a href="mailto:FearlessFixxer@protonmail.com">Contact Us</a> </small> 
            </div>
        </div><!--//container-->
    </footer><!--//footer-->
    
    
    <!-- Javascript -->          
    <script type="text/javascript" src="/assets/plugins/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script> 
    <script type="text/javascript" src="/assets/plugins/bootstrap-hover-dropdown.min.js"></script>
    <script type="text/javascript" src="/assets/plugins/back-to-top.js"></script>
    <script type="text/javascript" src="/assets/plugins/jquery-scrollTo/jquery.scrollTo.min.js"></script> 
    <script type="text/javascript" src="/assets/plugins/flexslider/jquery.flexslider-min.js"></script>     
    <script type="text/javascript" src="/assets/js/main.js"></script> 